<html>

<head>
    <title>Mundial</title>
</head>

<body background="https://es.fifa.com/assets/img/tournaments/17/2018/common/fwc_darkbluebg.png" align=center>
    <h1>
        <p style="color: #FFFFFF">COPA MUNDIAL DE FUTBOL RUSIA 2018 </p>
    </h1>
    <img src="http://img.fifa.com/images/tournaments/17/logo/2018_workaround.png" align=left>
    <h2 align=right>
        <p style="color: #FFBF00">
            <font face="Comic Sans">
                La Copa Mundial de la FIFA Rusia 2018 será la vigésima primera edición de la Copa Mundial de Fútbol. Esta edición del evento se realizará en Rusia entre el 14 de junio y el 15 de julio de 2018, siendo la primera vez que un país de Europa Oriental organiza
                el campeonato. Participan 32 equipos y se dividen en 8 grupos de 4 equipos cada uno. Los grupos se juegan por el sistema de todos contra todos, a una sola rueda. De esta manera, cada equipo disputa tres partidos, clasificando los 2 mejores
                equipos por grupo y despues se juega por el sistema de eliminatoria de 16 equipos
            </font>
        </p>


    </h2>
</body>

</html>